---
title: Configuring Azure Active Directory as a SAML Identity Provider
owner: Identity
---

This topic explains how to configure single sign-on (SSO) between Azure Active Directory (Azure AD) and <%= vars.product_full %>.

## <a id='prerequisites'></a> Prerequisites

To configure Azure AD to designate <%= vars.product_short %> as a service provider,
you must have the following:


## <a id='configure-saml'></a> Configure SAML in Azure AD

To configure Azure AD as a SAML identity provider for  <%= vars.product_short %>, do
	the following:

1. Log in to Azure AD as a global admin.

2. Navigate to **Azure Active Directory**.
 
 	![Azure Active Directory button](images/azure-ad-button.png)
	
1. Click **Enterprise application**.

	![Enterprise application button](images/azure-ad-add-app.png)

3. Select **Non-gallery application**. Provide a name and click **Add**.

	![Non-gallery application button](images/azure-ad-non-gallery.png)
	
1. Navigate to **Azure Active Directory** > **Enterprise applications**.

	![Enterprise applications tab](images/azure-ad-app-tab.png)

1. Click your app and then click the **Single sign-on**.  

	![Single sign-on tab](images/azure-ad-sso-button.png)
	
1. Select **SAML**.
	![Single sign-on pane](images/azure-ad-saml.png)
	
	or
	
	![Set up SAML pane](images/azure-ad-set-up-saml.png)
1. Under **Basic SAML Configuration**, configure the following fields:
		<%# MENTION POPOUT %>
	![Basic SAML Configuration pane](images/azure-ad-basic-saml.png)
	
	<table>
		<tr>
			<th>Field</th>
			<th>Instructions</th>
		</tr>
		
		<tr>
			<td><strong>Identifier (Entity ID)</strong></td>
			<td>The default identifier will be the audience of the SAML response for IDP-initiated SSO</td>
		</tr>
		
		<tr>
			<td><strong>Reply URL</strong></td>
			<td>The default reply URL will be the destination in the SAML response for IDP-initiated SSO</td>
		</tr>
		
		<tr>
			<td><strong>Sign on URL</strong></td>
			<td>This URL contains the sign-in page for this application that will perform the service provider-initiated single sign-on. Leave it blank if you want to perform identity provider initiated single sign-on.</td>
		</tr>
	</table>
		
1. Under **User Attributes & Claims**, configure the following fields:
		<%# MENTION POP-OUT. THESE COULD EITHER BE DEFAULT OR CONFIGURED DEPENDING ON THE USER'S PREFERENCE. MAKE CLAIMS HERE %> 
		
		

1. Under **SAML Signing Certificate**, configure the following fields:
		<%#MENTION POPOUT. THESE COULD EITHER BE DEFAULT OR CONFIGURED DEPENDING ON THE USER'S PREFERENCE . I THINK NOTIFICATION EMAIL IS THE ONLY REVALENT ONE? MAYBE SIGNING ALGOTHIYM%> 


3. Navigate to **Users and groups** and then click **Add User** . (SOMETHING ABOUT YOUR APP)

	[IMAGE]

5. Select users or group names from the dropdown. For example, you can add a group that includes all 
users that should be able to login to the SSO plan. (SOMETHING ABOUT USERS AND GROUPS POPOUT)

	[IMAGE]
	
1. Use the Azure AD metadata you retrieved in the above step to configure SAML in the <%= vars.product_tile %> tile.
See
[Configure SAML as an Identity Provider](installing-pks-azure.html#configure-saml).

<%#PROBS MISSING STEPS FOR USERS AND GROUPS%>
