---
title: Configuring Azure Active Directory as a SAML Identity Provider
owner: Identity
---

This topic explains how to configure single sign-on (SSO) between Azure Active Directory (Azure AD) and <%= vars.product_full %>.

## <a id='prerequisites'></a> Prerequisites

To configure Azure AD to designate <%= vars.product_short %> as a service provider,
you must have the following:

## <a id='configure-saml'></a> Configure SAML in Azure AD

To configure Azure AD as a SAML identity provider for  <%= vars.product_short %>, do
	the following:


1. Use the Azure AD metadata you retrieved in the above step to configure SAML in the <%= vars.product_tile %> tile.
See
[Configure SAML as an Identity Provider](installing-pks-azure.html#configure-saml).
